
extends ../../layout/layout

block content

  body
    .container
      h2 #Box Reports
      .btn-group
        button(type="button" data-report="stale").btn.btn-default.btn-report Stale
        button(type="button" data-report="invalid").btn.btn-default.btn-report Invalid
        button(type="button" data-report="hashes").btn.btn-default.btn-report Hashes

      .pager
        ul.mypager

      form(action="/admin/api/acknowledge", method="GET", name="ack_form").actions
        table#stale.table.table-striped.table-bordered.table-hover.table-condensed
          thead
          tbody
        input(type="hidden", name="state", id="state", value="123")
        button.btn.btn-primary Acknowledge

      div(tabindex="-1", role="dialog", aria-labelledby="hashModalLabel", aria-hidden="true").modal.fade.detail-modal
        .modal-dialog.modal-lg
          .modal-content Somecontent

    script.
      //setup global/default variables
      var default_report = 'hashes'
        , api_base = '/admin/api/'
        , options = {};

      function buildTable(report, page) {
        options = {
          bootstrapMajorVersion: 3,
          totalPages: 20,
          onPageClicked: function(e,originalEvent,type,page){
            buildTable(report, page);
          }
        }

        // Set acknowledge state based on the report
        $("input[name=state]").val(report);

        // Setup the pager
        $('.mypager').bootstrapPaginator(options);

        $.getJSON(api_base + report + '?page=' + page, {}, function(json_data) {
          var table_body = $('tbody');
          table_body.empty();
          var table_head = $('thead');
          table_head.empty();
          var table_header_row = $('<tr>');

          if (json_data.rows === null || json_data.rows.length === 0) {
            table_header_row.append($('<th>', {html: 'The "' + report + '" report returns no data'}));
            table_head.append(table_header_row);
          } else {
            if (report !== 'hashes') {
              // add acknowledge column for reports with actions
              table_header_row.append($('<th>', {html: 'ack'}));
            }

            var count = json_data.rows.length;
            $.each(json_data.rows[0], function(index, item) {
              table_header_row.append($('<th>', {html: index}));
              table_head.append(table_header_row);
            });

            $.each(json_data.rows, function(jsonIndex, jsonRow) {
              var table_row = $('<tr>');

              if (report !== 'hashes') {

                table_row.append($('<td>', {html: '<input type="checkbox" name="hashIds[]" value="' + jsonRow.id + '" />'}));
              }
              $.each(jsonRow, function(itemIndex, item) {
                if (itemIndex === 'key') {
                  if (report !== 'hashes') {
                    linkId = jsonRow.hashId;
                  } else {
                    linkId = jsonRow.id;
                  }
                  item = $('<a>', {href: '/admin/hash/' + linkId, html: item});
                }
                table_row.append($('<td>', {html: item}));
              });

              table_body.append(table_row);
              if (!--count) {
                $('#stale').tablesorter();
                $(".modalLink").click(function() {
                  $.getJSON($(this).data('content-url'), {}, function(json_data) {
                    $modalContent = $('<pre>', { html: JSON.stringify(json_data) });
                    console.log(json_data);
                    console.log(template(json_data));
                    $('.detail-modal').find('.modal-content').html(template(json_data));
                    $('.detail-modal').modal('show');
                  });
                });
              }
            });
          }
        });
      }

      //Handle Clicking on the Report Type buttons
      $(".btn-report").click(function() {
        buildTable($(this).data('report'), 0);
      });

      //Build the initial table
      buildTable(default_report, 0);

    script.




      Handlebars.registerPartial('link', '<a href="/people/{{id}}">{{key}}</a>')
      var template = Handlebars.compile(source);



