
extends ../../layout/layout

block content

  body
    .container
      table#stale.table.table-striped.table-bordered
        thead
            th id
            th key
            th hash
            th createdAt
            th updatedAt
        tbody
      div.div1

    script.
      var editor; // use a global for the submit and return data rendering in the examples

      $(document).ready(function() {
        //Basic
        $('#div1').WATable(
          {
            url: '/admin/api/stale',
            preFill: true
          });
      });