head
  meta(http-equiv="content-type", content="text/html; charset=utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="author", content="draco2003")


  link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
  link(rel="stylesheet", type="text/css", href="/css/watable.css")
  script(type="text/javascript", charset="utf-8", language="javascript", src="/js/jquery.js")
  script(type="text/javascript", charset="utf-8", language="javascript", src="/js/bootstrap.min.js")
  script(type="text/javascript", charset="utf-8", language="javascript", src="/js/jquery.watable.js")
  script(type="text/javascript", charset="utf-8", language="javascript", src="/js/jquery.filtertable.min.js")
  script(type="text/javascript", charset="utf-8", language="javascript", src="/js/jquery.tablesorter.min.js")
  script(type="text/javascript", charset="utf-8", language="javascript", src="/js/handlebars.min.js")
  script(type="text/javascript", charset="utf-8", language="javascript", src="/js/bootstrap-paginator.min.js")

  title #Box
  link(rel="stylesheet", href="/css/screen.css")
  style
    |  body {
    |    min-height: 2000px;
    |    padding-top: 70px;
    |  }
